/*--------------TABELLA COLORI-----------------*/
/*
A : rgb(140,168,164) => #8ca8a4;
B : rgb(125,193,189) => #7dc1bd;
C : rgb(46,93,90) => #2e5d5a;
D : rgb(227,226,204) => #e3e2cc;
E : rgb(220,221,183) => #dcd3b7;
F : rgb(90,19,35) => #5a1323;
G : rgb(52,51,49) => #343331;
H : rgb(75,71,52) => #4B4734;
I : rgb(200,197,188) => #c8c5bc;
J : rgb(238,233,217) => #eee9d9;
K : rgb(255,255,255) => #FFFFFF;
*/
/*---------------------------------------------*/

ul.Breadcrumb {
  padding: 0.7em 1em;
  list-style: none;
  background-color: none;
}

ul.Breadcrumb li {
	color:black;
  display: inline;
  font-size: 1em;
  font-family: "Source Serif Pro", Arial, serif;
  font-weight: 400;
}
ul.Breadcrumb li+li:before {
  padding: 0.5em;
  content: "/\00a0"; /* divisore breadcrumb, carattere speciale */
}
ul.Breadcrumb li a {
  text-decoration: none;
  font-family: "Source Serif Pro", Arial, serif;
  font-weight: 400;
}


/*---------------------------------*/

body > div:first-of-type{
	width:100%;
	margin: 3em 0;
}

body > div:first-of-type > h1{
  font-size:2em;
  font-family: "Source Serif Pro", Arial, serif;
  font-weight: 400;
  color: #343331;
	margin-top:1.5%;
 	margin-bottom:0.4em;
}

body > div:first-of-type > p{
	width:94%;
	margin-left: 3%;
	margin-right: 3%;
	color: #343331;
  font-family:  Roboto, -apple-system, arial;
  font-weight: 300;
}

/*---------------------------------*/

body > div > div > form > fieldset{
  border: none;
}

body > div > div > form > fieldset > legend{
  font-size: 0;
}

body > div > div > form > fieldset > p > label[for=fname], body > div > div > form > fieldset > p > label[for=lname], body > div > div > form > fieldset p > >label[for=oggetto], body > div > div > fieldset > form >label[for=subject]{
  color: #343331;
  font-family:  Roboto, -apple-system, arial;
  font-weight: 300;
}

body > div > div > form > fieldset > p > input[type=text], body > div > div > form > fieldset > p > select, body > div > div > form > fieldset > p > textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

body > div > div > form > fieldset > p > textarea{
	height: 100px;
  color: #343331;
  font-family:  Roboto, -apple-system, arial;
  font-weight: 300;
}

/*.accordion > span{
	display:block;
}*/

body > div > div > form > fieldset > p > input[type=submit] {
  background-color: #7dc1bd;
  color: #343331;
  font-size: 1em;
  font-family:  Roboto, -apple-system, arial;
  font-weight: 300;
  padding: 0.6em 3%;
  border: none;
  border-radius: 0.6em;
  cursor: pointer;
  margin-left: 46%;
  margin-right:46%; 
}

body > div > div > form > fieldset > p:last-of-type > label{
	position: relative;
	font-size:1px;
	left: 150%;
}

body > div > div{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 1em;
}

.Errors{
	display:none;
}