/*--------------TABELLA COLORI-----------------*/
/*
A : rgb(140,168,164) => #8ca8a4;
B : rgb(75,71,52) => #7dc1bd;
C : rgb(46,93,90) => #2e5d5a;
D : rgb(227,226,204) => #e3e2cc;
E : rgb(220,221,183) => #dcd3b7;
F : rgb(90,19,35) => #5a1323;
G : rgb(52,51,49) => #343331;
H : rgb(75,71,52) => #4B4734;
I : rgb(200,197,188) => #c8c5bc;
J : rgb(238,233,217) => #eee9d9;
K : rgb(255,255,255) => #FFFFFF;

*/
/*---------------------------------------------*/

ul.Breadcrumb {
  padding: 0.7em 1em;
  list-style: none;
  background-color: none;
}

ul.Breadcrumb li {
  display: inline;
  font-size: 1em;
  color: #343331;
  font-family: "Source Serif Pro", Arial, serif;
  font-weight: 400;
}
ul.Breadcrumb li+li:before {
  padding: 0.5em;
  color: #343331;
  content: "/\00a0"; /* divisore breadcrumb, carattere speciale */
}
ul.Breadcrumb li a {
  color: #5a1323; 
  text-decoration: none;
  font-family: "Source Serif Pro", Arial, serif;
  font-weight: 400;
}

ul.Breadcrumb li a:visited{
  color: #2e5d5a;
}

ul.Breadcrumb li a:hover{
  text-decoration:underline;
}
/*---------------------------------*/

#faqs{
  width:96%;
  padding:2%;
  background-color: white;
  margin-top:3em; 
  margin-bottom:3em;
}

#faqs > div > p{
  font-family: Roboto, -apple-system;
  font-family: 300;
  color: #343331;
  margin-left: 1%;
  margin-right:1%;
}

#faqs > h1{
	font-size:2em;
	font-family: "Source Serif Pro", Arial, serif;
  font-weight: 400;
  color: #343331;
  margin-top:0.7em;
  margin-bottom:1em;
}

#faqs > div > p > a{
	color:#5a1323;
  text-decoration: none;
}

#faqs > div > p > a::after{
  content:" <" attr(href) ">";
}

#faqs > div > p > a:visited{
	color:#2e5d5a;
  text-decoration: none;
}

.RightArr{
  display: none;
}

/*-----------------------------*/

#faqs > h2{
  background-color: #eee;
  font-family: "Source Serif Pro", Arial, serif;
  font-weight: 400;
  color: #343331;
  /*padding: 1em 2%;*/
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size:1em;
}

.active, #faqs > h2:hover {
  background-color: #ccc; 
}

#faqs > div {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

#faqs > div{
  display: block;
}