ul.Breadcrumb {
  padding: 0.7em 1em;
  list-style: none;
  background-color: none;
}

ul.Breadcrumb li {
  display: inline;
  font-size: 1em;
  color: #343331;
  font-family: "Source Serif Pro", Arial, serif;
  font-weight: 400;
}
ul.Breadcrumb li+li:before {
  padding: 0.5em;
  color: #343331;
  content: "/\00a0"; /* divisore breadcrumb, carattere speciale */
}
ul.Breadcrumb li a {
  color: #5a1323;
  text-decoration: none;
  font-family: "Source Serif Pro", Arial, serif;
  font-weight: 400;
}

ul.Breadcrumb li a:visited{
  color: #2e5d5a;
}

ul.Breadcrumb li a:hover{
  text-decoration:underline;
}
/* ------------ FINE Breadcrumb ------------ */

/* ------------ INIZIO RETTANGOLO IMMAGINE ------------ */

body > h1{
  font-size: 2em;
  text-align: left;
  margin: 1em 0 2em 14%;
}

footer{
	margin-top:3em;
}

/* ------------ FINE RETTANGOLO IMMAGINE ------------ */

/* ------------ INIZIO GRIGLIA PRODOTTI ------------ */

.Row > div > a:first-of-type > div > img{
  width:100%;
  height:9.7em;
}

.Row > div > a:first-of-type > div:hover > p:first-of-type, .Row > div > a:first-of-type > div:hover > img{
  display:none;
}

/*Sdp*/
.Row > div > a:first-of-type > div:hover > p:last-of-type{
  display:block;
  width:100%;
  height: 100%;
  color: #5a1323;
  font-family: Roboto, -apple-system, arial;
  font-weight: 300;
  font-size: 1.2em;
  text-align: center;
  cursor: pointer;
  background-color: #c8c5bc;
  padding-top: 3.65em;
}

.Row > div > a:first-of-type:visited > div:hover > p:last-of-type{
  color:blue;
}

.Row{
  margin-left:5%;
  margin-top:1em;
  width: 90%;
  height: auto;
  overflow-y:hidden;
}

.Row > div:first-of-type{
  margin-left: 5.5%;
}

.Row > div{
  width:20%;
  /*height: 13em;*/
  float:left;
  margin-left:3%;
}

.Row > div > a:first-of-type > div{
	height: 9.7em;
	width: 100%;
	overflow: hidden;
  position: relative;
}

.Row > div > a:last-child{
  text-decoration: none;
}

.Row > div > a:nth-of-type(2) > h2{ /* --- TITOLO PRODOTTI --- */
  font-size: 1.4em;
  font-family: "Source Serif Pro", Arial, serif;
  font-weight: 400;
  color: #5a1323;
  text-align: center;
  margin-top:0.4em;
  width:90%;
  margin-left:5%;
  font-weight: 400;
  text-decoration: none;
}

.Row > div > a:nth-of-type(2):visited > h2{
  color: #2e5d5a;
}

.Row > div > a:last-of-type, .Row > div > a:nth-of-type(2){
  text-decoration: none;
  display: block;
  text-align: center;
  margin: 0.2em 3% 0;
}

.Row > div > a:last-of-type > a{ /* --- TITOLO PRODOTTI --- */
	font-size: 1em;
	font-family: Roboto, -apple-system, arial;
  font-weight: 400;
  color:#5a1323;
	text-align: center;
	margin-top:0.5em;
  width:90%;
  margin-left:6%;
}

.Row > div > a:last-of-type:hover > h2, .Row > div > a:nth-of-type(2):hover{
  text-decoration: underline;
  cursor: pointer;
}

.Row > div > a:last-of-type:visited > h2, .Row > div > a:nth-of-type(2) > h2{
  color:#2e5d5a;
}

.Row > div > a:first-of-type > div > p:first-of-type{
  position: absolute;
  right:0;
  top:0;
  padding:0 6px;
  text-align: center;
	background-color:white;
	color: #343331;
	font-size: 1.5em;
	font-family: Roboto, -apple-system, arial;
  font-weight: 300;
}

.Row:last-of-type{
  margin-bottom: 4em;
}

/* Bottoni pagine successive*/
form[action="ricercamdp.php"] {
  text-align: center;
  min-height: 2em;
}

form[action="ricercamdp.php"] fieldset{
  display: inline-block;
}

form[action="ricercamdp.php"] label {
  position: absolute;
  left: 150%;
}

form[action="ricercamdp.php"] input[type="submit"], form[action="ricercamdp.php"] p {
  border-top: 1px solid #343331;
  border-bottom: 1px solid #343331;
  float: left;
  font-size: 1.1em;
  text-align: center;
  line-height: 2.05em;
}

form[action="ricercamdp.php"] p {
  width: 2em;
  
}

form[action="ricercamdp.php"] input[type="submit"] {
  width: 2.15em;
  height: 2.15em;
  background: none;
  color:#5a1323;
  text-decoration: underline;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 300;
  border-left: none;
  border-right: none;
}
