ul.Breadcrumb {
  padding: 0.7em 1em;
  list-style: none;
  background-color: none;
}

ul.Breadcrumb li {
  display: inline;
  font-size: 1em;
  color: #343331;
  font-family: "Source Serif Pro", Arial, serif;
  font-weight: 400;
}
ul.Breadcrumb li+li:before {
  padding: 0.5em;
  color: #343331;
  content: "/\00a0"; /* divisore breadcrumb, carattere speciale */
}
ul.Breadcrumb li a {
  color: #5a1323;
  text-decoration: none;
  font-family: "Source Serif Pro", Arial, serif;
  font-weight: 400;
}

ul.Breadcrumb li a:visited{
  color: #2e5d5a;
}

ul.Breadcrumb li a:hover{
  text-decoration:underline;
}

body > h1{
  font-family: "Source Serif Pro", Arial, serif;
  font-weight: 400;
}

p.Sdp{
  display: none;
}

p.Price{
  float:right;
}

.Row > p > a{
  display: none;
}

.Row > div {
  clear: both;
}

.Row img {
  display: block;
  width: 30%;
  height: 8em;
  float: left;
  margin-bottom: 2em;
  padding-right: 2%;
}

.Row div{
  clear:both;
}

.Row > div > a:first-of-type > div > p:last-of-type{
  display: none;
}

.Row > div > a:first-of-type > div > p:first-of-type{
  float:right;
  font-family: Roboto, -apple-system, arial;
  font-weight: 300;
}

.Row > div > a:last-of-type{
  font-family: Roboto, -apple-system, arial;
  font-weight: 300;
}

/* Bottoni pagine successive*/
form[action="ricercamdp.php"] {
  text-align: center;
  min-height: 2em;
  width:100%;
  clear: both;
  margin-bottom: 1em;
}

form[action="ricercamdp.php"] fieldset{
  display: inline-block;
}

form[action="ricercamdp.php"] label {
  position: absolute;
  left: 150%;
}

form[action="ricercamdp.php"] input[type="submit"], form[action="ricercamdp.php"] p {
  border: 1px solid #000;
  float: left;
  font-size: 1.2em;
  text-align: center;
  line-height: 2em;
}

form[action="ricercamdp.php"] p {
  width: 2em;
  height: 2em;
}

form[action="ricercamdp.php"] input[type="submit"] {
  width: 2.15em;
  height: 2.15em;
  background: none;
  color:#5a1323;
  text-decoration: underline;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 300;
  margin-top: 0.9em;
}
